
/*body*/
body{
    background : #eee;
}

.container{
    background-color : #eee;
    padding : 0;
}




/*!* fake img // to be deleted*!
.fakeimg {
    height: 200px;
    background: #eee;
}*/


/*title on the image*/
.containerTop {
    position: relative;
}
.elementsTop {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top : 1%;
    z-index: 1000;
    color : white ;
}

.titleTop {
    margin-top : 10%;
}

.roleTop{
    position: absolute;
    text-align: right;
    width: 100%;
    color : #ddd;
    font-size : 14px;
    /*margin-top : 3%;*/
    z-index: 1000;
}


/* Footer */
.footer {
    /*height : 85px;*/
    background: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*text-align: center;*/
    padding: 0;
}

/*sign_in_butt*/
.sign_in_butt{
   /* margin : 10px 5px 0px 0px; !* top right bottom left *!*/
    padding: 3px 6px;
    font-size: 0.85em;
    cursor: pointer;
    background: Transparent;
    overflow: hidden;
    outline:none;
    border: 1px solid #f45c39;
    color: #f45c39;
}

.sign_in_butt:hover {
    border: 1px solid #f45536;
    outline: 1px solid rgba(244, 85, 54, 0.56);
}

/*create_account_butt*/
.create_account_butt{
    padding: 3px 6px;
    font-size: 0.85em;
    cursor: pointer;

    background: #f45c39;
    overflow: hidden;
    outline:none;
    border: 1px solid #f45c39;
    color: white;
}

.create_account_butt:hover {
    background: #f45536;
}

.sign_nav_btn{
    padding: 3px 6px;
    max-width: 130px;
    margin: auto;
    margin-right: 10px;

}

/*sign_in_for_free_butt*/
.margin_btn_bp{
    float: right;
    margin : 10px 15px 0 5px;  /* top right bottom left */
}

.ml-auto{
    padding-left: 20px;
}

div.input-group {
    margin-bottom: 0;
 /*   width: 400px;*/
}


.sign_in_for_free_butt{
    padding: 3px 6px;
    font-size: 1em;
    cursor: pointer;
    background: #f45c39;
    color: white;
    overflow: hidden;
    outline:none;
    border: 1px solid #f45c39;
}

.sign_in_for_free_butt:hover {
    background: #f45536;
}

.modal-content{
   /* background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.57) 37%, rgba(255,255,255,1) 65%, rgba(255,255,255,0) 79%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 37%,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 79%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 37%,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 79%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );*/
    /*background: rgba(242, 242, 242, 0.85);*/
}



/*update_own*/
.update_own{
    /*
    margin : 10px 15px 0px 5px;  !* top right bottom left *!
    */
    padding: 6px 12px;
    font-size: 1em;
    cursor: pointer;
    margin: auto;

    background: #f45c39;
    overflow: hidden;
    outline:none;
    border: 1px solid #f45c39;
    color: white;
}

.update_own:hover {
    background: #f45536;
}

/* charts dropdown */
.dropdown-item {
    font-size: 0.75em;
}
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100% !important;
}
#dropdownMenuLink2{
    width: 200px !important;
}
#dropdownMenuLink1{
    width: 130px !important;
}

.dropdown-toggle:hover{
    background:#f45c39 !important;
    color:white !important;
}
.dropdown-toggle[aria-expanded="true"]{
    background:#f45c39 !important;
    color:white !important;
}

/*player mini*/
/*play-pause*/
div#control-container-mini div#central-control-container div#central-controls div#play-pause-mini.amplitude-paused:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f04b";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}
div#control-container-mini div#central-control-container div#central-controls div#play-pause-mini.amplitude-playing:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f04c";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}


/*shuffle*/
div#control-container-mini div#repeat-container div#shuffle-mini.amplitude-shuffle-off:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f074";
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

div#control-container-mini div#repeat-container div#shuffle-mini.amplitude-shuffle-on:before {
    font-family: 'Font Awesome\ 5 Free';;
    content: "\f074";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

/*repeat*/
div#control-container-mini div#repeat-container div#repeat-mini.amplitude-repeat-off:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f2f9";
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

div#control-container-mini div#repeat-container div#repeat-mini.amplitude-repeat-on:before {
    font-family: 'Font Awesome\ 5 Free';;
    content: "\f2f9";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

/*next*/
div#control-container-mini div#central-control-container div#central-controls div#next-mini:before {
    font-family: 'Font Awesome\ 5 Free';;
    content: "\f051";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}
/*previous*/
div#control-container-mini div#central-control-container div#central-controls div#previous-mini:before {
    font-family: 'Font Awesome\ 5 Free';;
    content: "\f048";
    color: #00a0ff;
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

div#control-container-mini {
    padding-left: 2em;
    padding-right: 1em;
}
.inline-mini{margin-left: 1em;
    display: inline-block;
}

div#amplitude-player{
    /*height : 15px;*/
   margin : 0 !important;
    width:100% !important;
}
div#amplitude-right.meta-container-mini{
    display: inline-block !important;
    padding-left: 5px;
    margin-top: 5px !important;
    font-size: 13px !important;

    overflow: hidden;
}
#song-artist-album-mini{
    display: inline-block !important;
    color: #0c5460;
}
#sound-mini.amplitude-mute.amplitude-muted:before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f026";
    color: #00a0ff;
    font-weight: 900;
    /*display: inline-block !important;*/
    float: left;
}
#sound-mini.amplitude-mute.amplitude-not-muted:before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f028";
    color: #00a0ff;
    font-weight: 900;
    float: left;
}
.time-mini{
    margin-top : 8px;
}

#volume-container-mini{
    margin-top: 4px;

}
#sound-slider-mini{
    float: right;
    vertical-align: middle;
}

/*style charts playlist*/
#divChartsPlaylist {
    background: #fff;
    margin-left: 10%;
    margin-top : 10%;
    border: 1px solid #f45c39;
    color: #191c1d;
    padding: 10px;
    overflow: auto;
    max-height: 340px;
}

.stylePlaylist {
    background: #ddd;
    margin: 8px;
    margin-left: 15%;
    padding: 8px;
    vertical-align: middle;
    border : 1px solid #ccc;
}
.stylePlaylist:hover {
    background: #eee;
    color : #000;
    border : 1px solid #bbb;
}
.styleNamesPlaylist {
    margin-left: 3%;
    color: #3b3b3b;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.styleDurationPlaylist {
    color: rgba(59, 59, 59, 0.69);
    float: right;
    margin-top: 1.7em;/*to check : vertical-align not working...*/
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.imgStylePlaylist{
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
}

/*strutsCss*/
.strutsUploadForm ::placeholder{
    color : #4d4d4d;
}
.strutsUploadFormMargin{
    margin-top: 15px;
}
.field-icon { /*eye icon for password*/
    float: right;
    color: #5a6268;
    margin-top: -42px;
    margin-right :5px;
    position: relative;
    z-index: 2;
}
